Source: lua-iconv
Priority: optional
Maintainer: Alexandre Erwin Ittner <aittner@netuno.com.br>
Build-Depends: debhelper (>= 4.0.0), liblua5.1-dev
Standards-Version: 3.6.1
Section: interpreters

Package: lua-iconv
Architecture: any
Depends: ${shlibs:Depends}
Recommends: lua5.1
Description: iconv bindings for the Lua Programming Language
  Lua-iconv is POSIX 'iconv' binding for the Lua Programming Language. It
  converts a sequence of characters from one codeset into a sequence of
  corresponding characters in another codeset.
